<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>魔法卡片 | DG UI</title>
    <meta name="description" content="A VitePress site">
    <link rel="preload stylesheet" href="/dg-design-vue/assets/style.110a5cd5.css" as="style">
    <link rel="modulepreload" href="/dg-design-vue/assets/chunks/font.b1cb80ba.js">
    <link rel="modulepreload" href="/dg-design-vue/assets/app.dfc2d51f.js">
    <link rel="modulepreload" href="/dg-design-vue/assets/zh_components_mgcard.md.1a32874f.lean.js">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <script id="check-dark-light">(()=>{const e=localStorage.getItem("vitepress-theme-appearance")||"",a=window.matchMedia("(prefers-color-scheme: dark)").matches;(!e||e==="auto"?a:e==="dark")&&document.documentElement.classList.add("dark")})();</script>
  </head>
  <body>
    <div id="app"><!----></div>
    <script>__VP_HASH_MAP__ = JSON.parse("{\"zh_instructions_quickstart.md\":\"dc6176c4\",\"en_index.md\":\"7d65e9b0\",\"en_instructions_install.md\":\"befd2d32\",\"en_instructions_quickstart.md\":\"b5f95ab7\",\"zh_components_badge.md\":\"99e06d9c\",\"zh_components_icon.md\":\"3686866a\",\"zh_components_mgcard.md\":\"1a32874f\",\"zh_components_rate.md\":\"d5537c9a\",\"zh_components_switch.md\":\"d5b45de1\",\"zh_components_tooltip.md\":\"c4ad64e6\",\"zh_index.md\":\"3e58bce6\",\"zh_instructions_install.md\":\"49ad8e16\",\"en_components_badge.md\":\"74652a2e\",\"en_components_button.md\":\"20c7e1ba\",\"en_components_icon.md\":\"3a852744\",\"zh_components_button.md\":\"7647604e\",\"en_components_mgcard.md\":\"0fd0e4bc\",\"en_components_rate.md\":\"a935ea84\",\"en_components_switch.md\":\"9190c961\",\"en_components_tooltip.md\":\"71acb6e7\"}")</script>
    <script type="module" async src="/dg-design-vue/assets/app.dfc2d51f.js"></script>
    
  </body>
</html>