@font-face {
  font-family: 'iconfont';  /* Project id 3800415 */
  src: url('//at.alicdn.com/t/c/font_3800415_4y4po36drog.woff2?t=1671179452430') format('woff2'),
       url('//at.alicdn.com/t/c/font_3800415_4y4po36drog.woff?t=1671179452430') format('woff'),
       url('//at.alicdn.com/t/c/font_3800415_4y4po36drog.ttf?t=1671179452430') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dg-icon-star:before {
  content: "\e7df";
}

.dg-icon-star-fill:before {
  content: "\e86a";
}

.dg-icon-star-active:before {
  content: "\e86a";
  color: #f5a623;
}

.dg-icon-a-line_order-editor:before {
  content: "\e600";
}

.dg-icon-line_round_add:before {
  content: "\e601";
}

.dg-icon-line_right:before {
  content: "\e629";
}

